*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 430vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.header{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 125px;
  
  

  .data{
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left:15%;
    padding-right: 15%;


    .menu{
      width: 595px;
      height: 15px;
      display: flex;
      list-style: none;
      flex-grow: 0.3;
      justify-content: space-between;

      a{
        text-decoration: none;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 15px;
        color: #000000;
      }//a

    } //menu

    .adressnum{
      width: 405px;
      height: 15px;
      display: flex;
      justify-content: space-between;

      span{
        height: 15px;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 15px;
        color: #000000;
      }//span

      .contact{
        width: 209px;
      } //contact

      .contact2{
        width: 146px;
      } //contact2
    }//adressnum

    .iconnav{
      width: 173px;
      height: 32px;
      display: flex;
      justify-content: space-between;

    .svg{
      width: 32px;
      height: 32px;
    }//svg
  }//iconnav
  } //data

  .search{
    width: 100%;
    height: 70px;
    background: #F2F2F2;
    padding-left:15%;
    padding-right: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
      width: 142px;
      height: 44px;
    } //logo

    .cataloguebutton{
      width: 153px;
      height: 50px;
      background: #F7AC3B;
      border-radius: 5px;
      border: none;
      font-family: 'Gotham Pro';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 15px;
      color: #FFFFFF;
    }//cataloguebutton

    p{
      font-family: 'Gotham Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 15px;
      color: #000000;
    } //p

    input{
      width: 715px;
      height: 50px;
      background: #FFFFFF;
      border-radius: 5px;
      border: none;
      padding-left: 20px;

      &::placeholder{
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 15px;
        color: #000000;
      }//placeholder
    }//input
  } //search
} //header

.betweenheader{
  width: 100%;
  height: 15px;
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  padding-left:15%;
  padding-right: 15%;
  color: #000000;
}

main{
  width: 100%;
  height: 911px;
  padding-left:15%;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .mainheader{
    width: 588px;
    height: 23px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    color: #000000;
  }//mainheader
  
  .wrapper{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;



  .imgcontainer{
    width: 860px;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .imgs{
      width: 100px;
      height: 430px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .littleimg{
        width: 100px;
        height: 100px;
        border-radius: 5px;
        background: url(/img/mainparquet.png);
      }//littleimg
    } //imgs
    .mainimg{
      width: 750px;
      height: 550px;
      border-radius: 5px;
      background: url(/img/mainparquet.png);
    } //mainimg
  }//imgcontainer

  .buy{
    width: 421px;
    height: 550px;
    background: #FFFFFF;
    border: 2px solid #F2F2F2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .buyheader{
      width: 80px;
      height: 15px;
      font-family: 'Gotham Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 15px;
      color: #747474;
      

    }//buyheader

    .measure{
      width: 269.5px;
      height: 45px;
      display: flex;
      justify-content: space-between;

      p{        
        height: 45px;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 23px;
        text-align: center;
        color: #000000;

        span{
          font-family: 'Gotham Pro';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 13px;
          text-align: center;
        }//span
      }//p

      img{
        width: 16px;
        height: 16px;
        position: relative;
        top: 5px;
      }//img
    }//measure

    .line{
      width: 381px;
      border: 2px solid #F2F2F2;
    } //line

    .categ{
      width: 310px;
      height: 75px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p{
        width: 310px;
        display: flex;
        justify-content: space-between;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 15px;
        color: #747474;

        span{
          width: 130px;
          height: 15px;
          font-family: 'Gotham Pro';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 15px;
          text-align: right;
          color: #000000;
        }//span
      } //p
    } //categ

    .number{
      width: 380px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .inputwrapper{
        width: 240px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 2px solid #F2F2F2;
        border-radius: 5px;


        #decrement{
          width: 40px;
          height: 60px;
          background: transparent;
          border: none;
          cursor: pointer;
          font-family: 'Gotham Pro';
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 15px;
          color: #000000;
        }//decrement

        #increment{
          width: 40px;
          height: 60px;
          background: transparent;
          cursor: pointer;
          border: none;
          font-family: 'Gotham Pro';
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 15px;
          color: #000;
        }//increment

        input[type=number]{
          width: 120px;
          height: 60px;
          border: none;
          padding-left: 50px;
          padding-top: 10px;
          font-family: 'Gotham Pro';
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 15px;
          color: #000;
          outline: none;


        }
      }//inputwrapper

      .m2{
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
        background: #F7AC3B;
        border-radius: 5px;
      } //m2
      .şt{
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        background: #F2F2F2;
        border-radius: 5px;
      } //şt
    } //number

    .buyheader2{
      width: 200px;
      height: 34px;
      font-family: 'Gotham Pro';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 34px;
      text-align: center;
      color: #000000;
      border: none;
      outline: none;
    } //buyheader

    .buybut{
      width: 380px;
      height: 60px;
      border: none;
      background: #F7AC3B;
      border-radius: 5px;
      font-family: 'Gotham Pro';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 15px;
      text-align: center;
      color: #FFFFFF;

    }

    .buycont{
      width: 380px;
      height: 60px;
      display: flex;
      justify-content: space-between;

      .heartcont{
        width: 185px;
        height: 60px;
        background: #F2F2F2;
        border-radius: 5px;
        border: none;
      }
      .graphcont{
        width: 185px;
        height: 60px;
        background: #F2F2F2;
        border-radius: 5px;
        border: none;

      }
    }//buycont

  } //buy

  }//wrapper
  
.infoheader{
  width: 205px;
  height: 23px;
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  color: #000000;

} //infoheader

.infowrapper{
  width: 1195px;
  height: 225px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  ul{
    list-style: none;

    li{
      display: flex;
      justify-content: space-between;
      font-family: 'Gotham Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 15px;
      color: #747474;
      
      span{
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 15px;
        color: #000000;
      }
    }//li
  } //ul


  .info1{
    width: 402px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .subheader{
    width: 180px;
    height: 15px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    color: #000000;
  } //subheader

  .listinfo1{
    width: 402px;
    height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li{
      width: 402px;
      height: 15px;

      
      span{
        width: 182px;
        height: 15px;
      }
    }//li
  } //listinfo1

  .info2{
    width: 248px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .listinfo2{
      width: 248px;
      height: 75px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    
    li{
      width: 248px;
      height: 15px;

      
      span{
        width: 28px;
        height: 15px;
      }
    }//li
  }//listinfo2
  } //info2

  .info3{
    width: 315px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .listinfo3{
      width: 315px;
      height: 75px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    
    li{
      width: 313px;
      height: 15px;

      
      span{
        width: 35px;
        height: 15px;
      }
    }//li
  }//listinfo3
  } //info3

} //infowrapper

}//main

.sec1,.sec4{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left:15%;
  padding-right: 15%;

  .sec1header{
    width: 310px;
    height: 23px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    color: #000000;
  }//sec1header

  .cards{
    display: flex;
    justify-content: space-between;

      .c{
        width: 310px;
        height: 457px;
        border: 2px solid #F2F2F2;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .bigimg{
          width: 310px;
          height: 230px;
          padding-left: 250px;
          padding-top: 170px;

          .aqua{
            width: 50px;
            height: 50px;
          }//aqua
        }//bigimg

        .csubheader{
          width: 270px;
          height: 44px;
          font-family: 'Gotham Pro';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
          color: #000000;
        } //csubheader

        .cardlist{
          list-style: none;
          width: 270px;
          height: 65px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          li{
            width: 120px;
            height: 15px;
            font-family: 'Gotham Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 15px;
            color: #747474;

            span{
              width: 46px;
              height: 15px;
              font-family: 'Gotham Pro';
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 15px;
              color: #000000;              
            }
          }//li
        } //cardlist

        .cardfooter{
          width: 270px;
          height: 53px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          p{
            width: 130px;
            height: 34px;
            font-family: 'Gotham Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 140%;
            color: #000000;
            flex-grow: 0.7;
          }//p
        }//cardfooter
    }//c

    .card1{
      .bigimg{
      background: url(/img/parquet5.png);
      }
    }//card1

    .card2{
      .bigimg{
      background: url(/img/parquet2.png);
      }
    }//card1

    .card3{
      .bigimg{
      background: url(/img/parquet3.png);
      }
    }//card1

    .card4{
      .bigimg{
      background: url(/img/parquet4.png);
      }
    }//card1
  }//cards

}//sec1

.sec2{
  width: 100%;
  height: 443px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;

  .sec2header{
    width: 117px;
    height: 23px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    color: #000000;    
  }

.map{
  width: 640px;
  height: 400px;
  border-radius: 5px;


  .iframemap{
    background: url(/img/map.png);
    border-radius: 20px;
  }
}

  .cargowrapper{
    width: 1300px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .cargo{
      width: 640px;
      height: 291px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .cargoline{
        width: 640px;
        height: 0px;
        border: 2px solid #F2F2F2;
      }//line

      p{
        width: 640px;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 15px;
        color: #747474;
        display: flex;
        justify-content: space-between;

        span{
          width: 310px;
          font-family: 'Gotham Pro';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 15px;
          color: #000000;
        }
      }//p

      .cargoparag{
        width: 640px;
        height: 51px;
        display: flex;

        .cargoparagspan{
          font-family: 'Gotham Pro';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 15px;
          color: #747474;
        }
      }
    }//cargo
  }//cargowrapper
} //sec2

.sec3{
  width: 100%;
  height: 1051px;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sec3header{
    width: 304px;
    height: 23px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    color: #000000;
    
  }

  .leftrightwrapper{

    display: flex;
    justify-content: space-between;

    .left{
      height: 890px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  } //leftrightwrapper

}//sec3

.footer{
  width: 100%;
  height: 206px;
  background: #F2F2F2;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul{
  height: 80px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #000000;
  }//li
  }//ul

  h1{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
  }

  div{
    height: 126px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  

  .ffirstwrapper{
    width: 174px;
    height: 126px;

    .footerlogo{
      width: 142px;
      height: 43px;

    }

    .iconcont{
      width: 174px;
      height: 48px;
      display: flex;
      flex-direction: row;

    }
  }//firstwrapper

  .fsecondwrapper{
    .location{
      width: 229px;
    }

    .phone{
      width: 164px;
    }

    .mail{
      width: 165px;
    }
  }
}//footer

